@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --white: #fffeff;
    --dark-purple: #141432;
    --light-purple: #4e2ed0;
    --green: #35b316;
    --red: #f24b4b;
    --light-brown: #df894d;
    --yellow: #f8c441;
    --blue: #3160fb;
}

/* css reset start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button, textarea, select{
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next{
    isolation: isolate;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/* css reset end */

html{ 
    background-color: var(--dark-purple);
    color: var(--white);

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin: 0.5em;
}

.header-buttons{
    margin-top: 0.2em;
    display: flex;
    flex-direction: column;
}

.button{
    cursor: pointer;
    background-color: var(--dark-purple);
    color: var(--white);
    border: none;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    margin: 0.5em 0.5em;
    padding: 12px;
}

.button:hover{
    background-color: var(--light-purple);
}

h3{
    margin: 0.5em;
}